body{
    background-color: #fff0db;
}


.navbar a{
    color:black;
}


.nav-link a{
    color: black;
}





.scroll {
    max-height: 50px;
    overflow-y: inherit;
}

.panel {
    border: none;
    box-shadow: none;
}

.panel-heading {
    border-color:#eff2f7 ;
    font-size: 16px;
    font-weight: 300;
}

.panel-title {
    color: #2A3542;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
}
